{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='content-section'>
	<form method = "POST">
		{% csrf_token %}
		<fieldset class = "form-group">
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button>Login</button>
		</div>
	</form>
	<div>
		<a href = "{% url 'register' %}">Don`t have an account?</a>
	</div>>	
</div>
{% endblock content %}