{% extends 'news/base.html' %}
{% block content %}
<div class='content-section'>
You have been logged out 
	<div>
		<a href = "{% url 'login' %}">Log in again?</a>
	</div>>	
</div>
{% endblock content %}