{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='content-section'>
	<form method = "POST">
		{% csrf_token %}
		<fieldset class = "form-group">
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button>Save</button>
		</div>
	</form>
</div>
{% endblock content %}