body{
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Varela Round', sans-serif;
}
a{
	text-decoration:none;
	color: white;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/**Header**/
.header_external{
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: black;
	box-shadow: 0 0  2px grey;
	z-index: 1000;
}
.header_fixed{
    position: fixed;
}

/**Header nav**/
.header_nav{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
ul, li{
	list-style: none;
}
.main_logo{
	display: block;
	color: #3C994E;
	width: 250px;
}
.profile{
	display: block;
}
.main_nav{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.main_li{
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 100%;
	cursor: pointer;

}
.menu_paraghraph{
	text-transform: uppercase;
	color: white;
}
.main_li:after{
	content: "";
	display: block;
	width: 1px;
	height: 5px;
	background-color: #3c994e;
	opacity: 0;
	position: absolute;
	bottom: 8px;
}
.main_li:hover:after{
	opacity: 1;
	width: 25px;
	transition: .3s ease;
}
.main_li.dropdown:hover > .nav_section{
	display: flex;
	justify-content: center;
}
.nav_section:hover{
	display: flex;
	justify-content: center;
}
.nav_section{
	display: none;
	position: absolute;
	width: 100%;
	top: 51px;
	left: 0;
	height: 225px;
	background-color: black;
	text-transform: none;
	cursor: auto;
	color: white;
}
.menu_section{
	padding: 10px 35px 0;
	text-transform: uppercase;
}
.section_type{
	font-weight: bold;
	padding: 0 0 10px;
	font-size: 20px;
}
.section_type:hover a{
	color: #3C994E;
}
.section_paraghraph{
	padding: 2px 0;
	font-size: 15px;
}
.section_paraghraph:hover a{
	color: #3C994E;
}

/*main*/
main{
	margin-top: 50px;
}
.page_extra_nav{
	margin: 10px 5px 10px 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 15px;
}
.page_extra_nav ul li a{
	font-size: 15px;

}
.page_extra_nav .page_menu{
	margin: 0;
}
.triangle{
	margin-left: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #3C994E;
}
.page_nav{
	margin: 25px 5px 10px 5px;
	display: flex;
	flex-direction: row;
}
.page_name{
	display: block;
	font-size: 30px;
	text-transform: uppercase;
	color:white;
	font-weight: bold;
}
.page_name:after{
	content: "";
	display: block;
	width: 25px;
	height: 5px;
	background-color: #CE56E8;
}
.page_menu{
	margin: 0 0 0 40px ;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.page_paraghraph{
	padding: 0 10px;
	border-right: 2px white;
}
.page_paraghraph a{
	color: white;
	font-size: 20px;
}
.page_paraghraph.choosed a{
	color: black;
}
.page_paraghraph:hover a{
	color: #3C994E;
}
.info_wrapper{
	display: flex;
	flex-direction: row;
	height: 500px;
}
.left_wrapper{
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: calc(40% - 30px);
	height: 100%;

}
.right_wrapper{
	padding: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.chart_wrapper{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}
.charts_header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 15px;

}
.chart_type{
	width: 100%;
	display: block;
	text-align: center;
}
.chart_type_link{
	font-size: 20px;
}
.chart_type_link:hover{
	border-bottom: 2px white;
}
.chart_type_link.choosed{
	border-bottom: 2px solid black;
}
.chart{
	border:0.2em solid aqua
	top: 65px; /* Расстояние от верхнего края */
        left: 110px; /* Расстояние от левого края */ 
        bottom: 0; right: 0;
	height: 300px;
	width: 100%;
	position: relative;
	bottom: 0;
	border: 1px solid grey;
}
.chart_info_wrapper{
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.chart_info{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.search{
	height: 100px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 15px double #ce56e8;
	border-top: 15px double #ce56e8;
}
.search_bar{
	color: #2d2d35;
    font-weight: 700;
    font-size: 1.5rem;
    border: 0;
    width: 100%;
}
.news_wrapper{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.news{
	width: 100%;
	height: 20%;
	border-bottom: .0625rem #999 dotted;
	padding: .25rem 0;
	position: relative;
}
.news_story{
	width: 100%;
    font-size: .875rem;
    padding: .25rem 0;
}
.news_data{
	padding-top: .5625rem;
	font-size: .625rem;
    font-size: 10px;
    color: black;
    color: grey;
    text-transform: uppercase;
}
.news_story_url:hover{
	color: #3C994E;
}
.last_news_wrapper{
	margin: 10px 15px 15px 15px;
	display: flex;
	flex-direction: column;
}
.last_news_header{
	font-weight: bold;
	color:#ce56e8;
	font-size: 25px;
}
.last_news_header:after{
	content: "";
	display: block;
	width: 25px;
	height: 5px;
	background-color: #3C994E;
}
.last_news{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.last_new{
	height: 200px;
	width: 25%;
	background-color: white;
	margin: 15px;
	border: 1px solid grey;
}
.footer_external{
	width: 100%;
	flex: 0 0 1;
	background: white;
}
.footer_wrapper{
	display: flex;
	flex-direction: row;
	margin-top: 15px; 
}
.footer_nav_section{
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: white;
	text-transform: none;
	border-right: 2px solid grey;
	padding-right: 30px;
}
.footer_menu_section{
	display: flex;
	flex-direction: column;
	padding: 0 5px 0;
	text-transform: uppercase;	
	margin-top: 0;
}
.footer_section_type{
	font-weight: bold;
	padding: 0 0 5px;
	font-size: 15px;
}
.footer_section_paraghraph{
	padding: 2px 0;
	font-size: 12px;
}
.footer_other{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}