body{
	margin: 0;
	padding: 0;
	background-color: black;
	color:white;
	font-family: 'Varela Round', sans-serif;
}
a{
	text-decoration:none;
	color: white;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/**Header**/
.header_external{
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: black;
	box-shadow: 0 0  2px grey;
	z-index: 1000;
}
.header_fixed{
    position: fixed;
}

/**Header nav**/
.header_nav{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
ul, li{
	list-style: none;
        
}
.main_logo{
	display: block;
	color: #3C994E;
	width: 250px;
}
.profile{
	display: block;
}
.main_nav{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.main_li{
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 100%;
	cursor: pointer;

}
.menu_paraghraph{
	text-transform: uppercase;
	color: white;
}
.main_li:after{
	content: "";
	display: block;
	width: 1px;
	height: 5px;
	background-color: #3c994e;
	opacity: 0;
	position: absolute;
	bottom: 8px;
}
.main_li:hover:after{
	opacity: 1;
	width: 25px;
	transition: .3s ease;
}
.main_li.dropdown:hover > .nav_section{
	display: flex;
	justify-content: center;
}
.nav_section:hover{
	display: flex;
	justify-content: center;
}
.nav_section{
	display: none;
	position: absolute;
	width: 100%;
	top: 51px;
	left: 0;
	height: 225px;
	background-color: black;
	text-transform: none;
	cursor: auto;
	color: white;
}
.menu_section{
	padding: 10px 35px 0;
	text-transform: uppercase;
}
.section_type{
	font-weight: bold;
	padding: 0 0 10px;
	font-size: 20px;
}
.section_type:hover a{
	color: #3C994E;
}
.section_paraghraph{
	padding: 2px 0;
	font-size: 15px;
}
.section_paraghraph:hover a{
	color: #3C994E;
}



/*main*/
main{
	margin-top: 50px;
}
.page_extra_nav{
	margin: 10px 5px 10px 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 15px;
}
.page_extra_nav ul li a{
	font-size: 15px;

}
.page_extra_nav .page_menu{
	margin: 0;
}
.triangle{
	margin-left: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #3C994E;
}
.page_nav{
	margin: 25px 5px 10px 5px;
	display: flex;
	flex-direction: row;
}
.page_name{
	display: block;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.page_name:after{
	content: "";
	display: block;
	width: 25px;
	height: 5px;
	background-color: #CE56E8;
}
.page_menu{
	margin: 0 0 0 40px ;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	color:white;
	width: 100%;
}
.page_paraghraph{
	padding: 0 10px;
	border-right: 2px solid white;
}
.page_paraghraph a{
	color: white;
	font-size: 20px;
}
.page_paraghraph.choosed a{
	color: red;
}
.page_paraghraph:hover a{
	color: #3C994E;
}
.info_wrapper{
	display: flex;
	flex-direction: row;
	height: 300px;
}
.left_wrapper{
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: calc(30% - 30px);
	height: 100%;

}
.right_wrapper{
	padding: 15px;
	width: calc(70% + 30px);
	height: 100%;
	display: flex;
	flex-direction: column;
}
.info_name{
	display: block;
	color:white;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.info_name:after{
	content: "";
	display: block;
	width: 25px;
	height: 5px;
	background-color: red;
}
.price_wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.price_extra_wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.price{
	padding: .25rem 0;
	color:white;
	float: left;
	display: block;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 700;
}
.price_currency{
	font-size: 10px;
    margin-left: 5px;
    padding:  .25rem 0;
}
.change_wrapper{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.change{
	color: red;
}
.net_change{
	color: red;
}
.right_info_section{
	width: 100%
}
.last_news_wrapper{
	margin: 10px 15px 15px 15px;
	display: flex;
	flex-direction: column;
}
.last_news_header{
	font-weight: bold;
	font-size: 25px;
}
.last_news_header:after{
	content: "";
	display: block;
	width: 25px;
	height: 5px;
	background-color: #3C994E;
}
.last_news{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.last_new{
	height: 200px;
	width: 25%;
	background-color: white;
	margin: 15px;
	border: 1px solid grey;
}
.footer_external{
	width: 100%;
	flex: 0 0 1;
	background: white;
        color:black;
}
.footer_wrapper{
	display: flex;
	flex-direction: row;
	margin-top: 15px; 
}
.footer_nav_section{
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: white;
	text-transform: none;
	border-right: 2px solid grey;
	padding-right: 30px;
}
.footer_menu_section{
	display: flex;
	flex-direction: column;
	padding: 0 5px 0;
	text-transform: uppercase;	
	margin-top: 0;
}
.footer_section_type{
	font-weight: bold;
	padding: 0 0 5px;
	font-size: 15px;
}
.footer_section_paraghraph{
	padding: 2px 0;
	font-size: 12px;
}
.footer_other{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}



.chart_wrapper{
	width: calc(100% - 30px);
	height: 100%;
	
	position: relative;
}

.data_wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.data_header{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #F0F0F0;
		
}
.key_data_header{
	width: 100%;
}
.data_control_wrapper{
	padding: 5px 15px;
	position: relative;
	z-index: 0;
	
}
.data_control_wrapper:before {
	content: "";  /* чтобы сгенерировать поле */
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	transform: skew(-20deg);
	border-right: solid 1px black;
}
.data_control{
	z-index: 1000;
	color:black;
}
.icon--sun{
	font-size: 1rem;
    padding-right: 2px;
    color: orange;
}
.status{
	font-size: 1rem;
}
.market_status{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	padding-top: .25rem;
}
.data_overview_wrapper,.data_news_wrapper,.data_charts_wrapper{
	width: 100%;
}

.data_overview_wrapper{
	display: flex;
	flex-direction: row;
}

.data_name{
	font-size: 15px;
	color: grey;
}
.data_value{
	font-size: 20px;
	margin-left: 15px;
	padding: .25rem 0;
}
.title{
	font-size: 15px;
}
.key_data_list{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.key_data_item{
	width: calc(50% - 10px);
	height: 20%;
	border-bottom: .0625rem #999 dotted;
	margin: 0.25rem 5px;
	float: left;
	display: flex;
	flex-direction: column;
}
.key_data_item.range{
	width: calc(100% - 10px);
	flex-direction: row;
	justify-content: space-between;
}
.key_data_item.range>.key_data_item_label{
	font-weight: 400;
	font-size:  1.2rem;
    color: grey;
    padding-top: 0;
}
.key_data_item_label{
	font-size: .64286rem;
    font-weight: 400;
    color: grey;
    padding-top: 0.5625rem;
}
.key_data_item_value{
	font-weight: 600;
	font-size:  1rem;
	padding: 0.25rem 0;
}
.news_wrapper{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.news{
	width: 100%;
	height: 20%;
	border-bottom: .0625rem #999 dotted;
	padding: .25rem 0px;
	margin: 0 5px;
}
.news_story{
	width: 100%;
    font-size: .875rem;
    padding: .25rem 0;
}
.news_data{
	padding-top: .5625rem;
    font-size: 10px;
    color: grey;
    text-transform: uppercase;
}
.news_story_url:hover{
	color: #3C994E;
}
.table_wrapper{
	width: 100%;
	max-height: 500px;
	padding: 15px;
}
.table-responsive{
  background-color: black;
  color: white;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing:0;
}
.table_name{
  color:white;
}

.data_table{
width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing:0;
    display:block;
  	width: 100%;
  	overflow-y: auto;
  	height: 409px;

}
.data_table tbody{
	display:block;
  	width: 100%;
  	overflow-y: auto;
  	height: 409px;
}
.data_table tr{
	display: block;
}

.data_table th, .data_table td {
  padding: 5px;
  text-align: left;
  width: 120px;
  border: 1px solid grey;
  height: 40px;
}
.price_date{
	padding: .25rem 0;
}
.price_date_value{
	font-size: .8rem;
	color:white;
	padding:  .25rem 0;
}
