body{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Varela Round', sans-serif;
}
a{
	text-decoration:none;
	color: black;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/**Header**/
.header_external{
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: #F2F0F0;
	box-shadow: 0 0  2px grey;
	z-index: 1000;
}
.header_fixed{
    position: fixed;
}

/**Header nav**/
.header_nav{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
ul, li{
	list-style: none;
}
.main_logo{
	display: block;
	color: #3C994E;
	width: 250px;
}
.profile{
	display: block;
}
.main_nav{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.main_li{
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 100%;
	cursor: pointer;

}
.menu_paraghraph{
	text-transform: uppercase;
	color: black;
}
.main_li:after{
	content: "";
	display: block;
	width: 1px;
	height: 5px;
	background-color: #3C994E;
	opacity: 0;
	position: absolute;
	bottom: 8px;
}
.main_li:hover:after{
	opacity: 1;
	width: 25px;
	transition: .3s ease;
}
.main_li.dropdown:hover > .nav_section{
	display: flex;
	justify-content: center;
}
.nav_section:hover{
	display: flex;
	justify-content: center;
}
.nav_section{
	display: none;
	position: absolute;
	width: 100%;
	top: 51px;
	left: 0;
	height: 225px;
	background-color: #F2F0F0;
	text-transform: none;
	cursor: auto;
	color: white;
}
.menu_section{
	padding: 10px 35px 0;
	text-transform: uppercase;
}
.section_type{
	font-weight: bold;
	padding: 0 0 10px;
	font-size: 20px;
}
.section_type:hover a{
	color: #3C994E;
}
.section_paraghraph{
	padding: 2px 0;
	font-size: 15px;
}
.section_paraghraph:hover a{
	color: #3C994E;
}

/*main*/
main{
	margin-top: 50px;
}
.section{
	width: 100%;
	min-height: 93vh;
}
.section.start{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section.how{
	background-color: yellow;
}
.section.about{
	background-color: green;
}



/*Section Start*/
.slogan{
	text-align: center;
}





.footer_external{
	width: 100%;
	flex: 0 0 1;
	background: white;
}
.footer_wrapper{
	display: flex;
	flex-direction: row;
	margin-top: 15px; 
}
.footer_nav_section{
	display: flex;
	flex-direction: row;
	justify-content: left;
	background-color: white;
	text-transform: none;
	border-right: 2px solid grey;
	padding-right: 30px;
}
.footer_menu_section{
	display: flex;
	flex-direction: column;
	padding: 0 5px 0;
	text-transform: uppercase;	
	margin-top: 0;
}
.footer_section_type{
	font-weight: bold;
	padding: 0 0 5px;
	font-size: 15px;
}
.footer_section_paraghraph{
	padding: 2px 0;
	font-size: 12px;
}
.footer_other{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}