{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sasat</title>
    <link href="#" rel="icon" type="{% static 'news/300.png' %}"/>
    <link rel="stylesheet" href="{% static 'news/style/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'news/style/css/bootstrap-grid.css' %}">
    {% block style %} {% endblock style %}
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header class="header_external" id="header">
			<div class="container">
				<nav class="header_nav">
					<div class="main_logo" >LOGO STOCKBOT</div>
					<ul class="main_nav">
						<li class="main_li dropdown" id="dropdown">
							<a class="menu_paraghraph" href = "{% url 'news-home' %}">MARKETS</a>
							<div class="nav_section" id="nav_section">
								<ul class="menu_section">
									<li class="section_type"><a href="{% url 'news-financial' %}">Financial</li>
									<li class="section_paraghraph"><a href="#">RUB</a></li>
									<li class="section_paraghraph"><a href="#">GBP</a></li>
									<li class="section_paraghraph"><a href="#">USD</a></li>
									<li class="section_paraghraph"><a href="#">EUR</a></li>
									<li class="section_paraghraph"><a href="#">CNY</a></li>
								</ul>
								<ul class="menu_section">
									<li class="section_type"><a href="#">Index</a></li>
									<li class="section_paraghraph"><a href="#">NYSE Composite</a></li>
									<li class="section_paraghraph"><a href="#">S&P 500</a></li>
									<li class="section_paraghraph"><a href="#">Nasdaq 100</a></li>
									<li class="section_paraghraph"><a href="#">Russell 2000</a></li>
									<li class="section_paraghraph"><a href="#">Nikkei 225</a></li>
								</ul>
								<ul class="menu_section">
									<li class="section_type"><a href="#">Energy</a></li>
									<li class="section_paraghraph"><a href="#">Crude oil</a></li>
									<li class="section_paraghraph"><a href="#">Natural gas</a></li>
									<li class="section_paraghraph"><a href="#">Brent crude</a></li>
									<li class="section_paraghraph"><a href="#">Coal</a></li>
								</ul>
								<ul class="menu_section">
									<li class="section_type"><a href="#">Metal</a></li>
									<li class="section_paraghraph"><a href="#">Gold</a></li>
									<li class="section_paraghraph"><a href="#">Silver</a></li>
									<li class="section_paraghraph"><a href="#">Platinum</a></li>
									<li class="section_paraghraph"><a href="#">Iron</a></li>
									<li class="section_paraghraph"><a href="#">Copper</a></li>
								</ul>
								<ul class="menu_section">
									<li class="section_type"><a href="#">Agriculture</a></li>
									<li class="section_paraghraph"><a href="#">Corn</a></li>
									<li class="section_paraghraph"><a href="#">Soybaen</a></li>
									<li class="section_paraghraph"><a href="#">Cattle</a></li>
									<li class="section_paraghraph"><a href="#">Sugar</a></li>
								</ul>
								<ul class="menu_section">
									<li class="section_type"><a href="#">Cryptocurrencies</a></li>
									<li class="section_paraghraph"><a href="#">Bitcoin</a></li>
									<li class="section_paraghraph"><a href="#">Ethereum</a></li>
									<li class="section_paraghraph"><a href="#">Dash</a></li>
									<li class="section_paraghraph"><a href="#">Litecoin</a></li>
									<li class="section_paraghraph"><a href="#">Zash</a></li>
									<li class="section_paraghraph"><a href="#">Monero</a></li>
									<li class="section_paraghraph"><a href="#">Ripple</a></li>
								</ul>
							</div>
						</li>
						<li class="main_li"><a class="menu_paraghraph" id="how">HOW</a></li>
						<li class="main_li"><a class="menu_paraghraph" id="about" href = "{%url 'news-about'%}">About Us</a></li>
						<li class="main_li"><a class="menu_paraghraph" id="contacts">Contacts</a></li>
					</ul>
					{% if user.is_authenticated %}
						<a href = "{% url 'profile'%}">Profile </a>
						<a href = "{% url 'logout'%}">Logout</a>
					{% else %}
						<a href = "{% url 'login' %}">Login </a>
						<a href = "{% url 'register' %}">Register</a>
					{% endif %}	
				</nav>
			</div>
		</header>
		<main>	
			<div class="container">
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}"> {{ message }}</div>
				{% endfor %}
				{% endif %}
				{% block content %}{% endblock content %}
				
			</div>
		</main>
		<footer class="footer_external" id="footer">
			<div class="container">
				<div class="footer_wrapper">
					<div class="footer_nav_section">
						<ul class="footer_menu_section">
							<li class="footer_section_type">Financial</li>
							<li class="footer_section_paraghraph">RUB</li>
							<li class="footer_section_paraghraph">GBP</li>
							<li class="footer_section_paraghraph">USD</li>
							<li class="footer_section_paraghraph">EUR</li>
							<li class="footer_section_paraghraph">CNY</li>
						</ul>
						<ul class="footer_menu_section">
							<li class="footer_section_type">Index</li>
							<li class="footer_section_paraghraph">NYSE Composite</li>
							<li class="footer_section_paraghraph">S&P 500</li>
							<li class="footer_section_paraghraph">Nasdaq 100</li>
							<li class="footer_section_paraghraph">Russell 2000</li>
							<li class="footer_section_paraghraph">Nikkei 225</li>
						</ul>
						<ul class="footer_menu_section">
							<li class="footer_section_type">Energy</li>
							<li class="footer_section_paraghraph">Crude oil</li>
							<li class="footer_section_paraghraph">Natural gas</li>
							<li class="footer_section_paraghraph">Brent crude</li>
							<li class="footer_section_paraghraph">Coal</li>
						</ul>
						<ul class="footer_menu_section">
							<li class="footer_section_type">Metal</li>
							<li class="footer_section_paraghraph">Gold</li>
							<li class="footer_section_paraghraph">Silver</li>
							<li class="footer_section_paraghraph">Platinum</li>
							<li class="footer_section_paraghraph">Iron</li>
							<li class="footer_section_paraghraph">Copper</li>
						</ul>
						<ul class="footer_menu_section">
							<li class="footer_section_type">Agriculture</li>
							<li class="footer_section_paraghraph">Corn</li>
							<li class="footer_section_paraghraph">Soybaen</li>
							<li class="footer_section_paraghraph">Cattle</li>
							<li class="footer_section_paraghraph">Sugar</li>
						</ul>
						<ul class="footer_menu_section">
							<li class="footer_section_type">Cryptocurrencies</li>
							<li class="footer_section_paraghraph">Bitcoin</li>
							<li class="footer_section_paraghraph">Ethereum</li>
							<li class="footer_section_paraghraph">Dash</li>
							<li class="footer_section_paraghraph">Litecoin</li>
							<li class="footer_section_paraghraph">Zash</li>
							<li class="footer_section_paraghraph">Monero</li>
							<li class="footer_section_paraghraph">Ripple</li>
						</ul>
					</div>
				<div class="footer_other">
					<h3 class="footer_heading">About</h3>
					<ul class="semi_nav">
						<li class="semi_li"><a href="#">##</a></li>
						<li class="semi_li"><a href="#">##</a></li>
						<li class="semi_li"><a href="#">##</a></li>
					</ul>
					<h3 class="footer_heading">CONTACTS</h3>
					<ul class="semi_nav">
						<li class="semi_li"><a href="#">##</a></li>
						<li class="semi_li"><a href="#">##</a></li>
						<li class="semi_li"><a href="#">##</a></li>
					</ul>
					<div class="footer_profile">
						<h3 class="footer_heading">My Profile</h3>
						<ul class="semi_nav">
							<li class="semi_li"><a href="#">Account</a></li>
							<li class="semi_li"><a href="#">Wallet</a></li>
							<li class="semi_li"><a href="#">Settings</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</footer>
	</div>
	<script src="{% static 'news/main.js' %}"></script>
</body>
</html>