{% extends "news/base.html" %}

{% block content %}
				<section class="section start">
					<div class="slogan">СОСАТЬ - не ВРЕДНО, а даже ПОЛЕЗНО</div>
				</section>
				<section class="section how">
					<input type="button" id="button" value="Кнопка">
					<script>
					  button.onclick = function() {
					    alert( 'Текущая прокрутка сверху: ' + window.pageYOffset );
					    var scrollHeight = Math.max(
						  document.body.scrollHeight, document.documentElement.scrollHeight,
						  document.body.offsetHeight, document.documentElement.offsetHeight,
						  document.body.clientHeight, document.documentElement.clientHeight
						);

						alert( 'Высота с учётом прокрутки: ' + scrollHeight );
						};
					</script>
					КАК
				</section>
				<section class="section about">
					О нас
				</section>
{% endblock content %}	