{% extends "news/base.html" %}
{% load static %}
{% block style %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" ></script> {% endblock style %}
{% block content %}
				<div class="container-fluid">
				<section class="section start">
					<div id="particles-js"></div>
					<script src="{% static 'news/particles.js' %}"></script>
					<script src="{% static 'news/js/app.js' %}"></script>
					<h1 class="name_logo">Stockmoon</h1>
				</section>
				<section class="section how">		
				</section>
				<section class="section about">
					О нас
				</section>
			</div>
{% endblock content %}	